.thresholdAndTargetBar {
 	height:100%;
 	width:100%;
}
.thresholdAndTargetBar .block {
	height:2rem;
	margin-top : 2.5%;
}
.thresholdAndTargetBar .thresholdDiv{
 	width:100%;
 	display:flex;
 	margin-top:1rem;
 }
.thresholdAndTargetBar .thresholdBar{
	height:3.5rem;
	width:3px;
}