.configTitle {
	font-size: 20px;
	color: #000000;
	padding: 10px 20px 10px 20px;
}

.newButton {
	position: relative;
	padding: 15px;
}

.configTree {
	overflow: auto;
}

.configMasterData {
	margin: 0px 10px 0px 15px;
}

.configMasterData .sapUiTreeTransparent {
	background-color: #FFFFFF;
}

.configMasterData  .sapUiTreeNodeContent {
	font-size: 14px;
}

.configMasterData .sapUiTreeNode {
	margin-top: 6px;
}

.configDetailData {
	margin-top: 5px;
	margin-left: 10px;
}

.breadCrumb {
	font-size: 12px;
	margin: 30px 5px 30px 25px;
}

.formTitle {
	font-size: 20px;
	margin-left: 25px;
}

.applicationTitle {
	font-size: 22px;
	font-weight: bold;
	padding: 20px 15px 30px 15px;
	color: #000000;
}

.applicationTitleLayout {
	margin: 0px 10px 0px 10px;
}

.noConfigSelected {
	margin: 0% 30% 0% 30%;
	font-size: 15px;
}

.addNewConfig {
	margin: 0px 18% 0% 18%;
	font-size: 15px;
}

.cornerTextHLayout {
	margin: 0% 20% 0% 25%;
}

.chartIcon {
	margin: 0% 47% 2% 47%;
}

.formTextTitle {
	font-weight: bold;
	font-family: sans-serif;
}

.sapMDialogSection {
	padding: 3rem;
}

.repFormRightLabel {
	margin-top: 10% !important;
}

.addIconRepresentation {
	margin-top: 6px;
	margin-left: 5px;
}

.lessIconRepresentation {
	margin-top: 6px;
	margin-left: 15px;
}

.repFormRightLabel {
	margin-top: 10% !important;
}

.configDetailData .sapMLabel {
	margin-top: 3%;
}

/*Preview Content CSS*/
.supressDialogPadding {
	margin: -3rem 0;
}

.previewMainChartHolder {
	overflow: hidden;
	padding: 16px;
}

.previewThumbnailHolder {
	border-right: 1px solid rgb(230, 230, 230);
}

.previewThumbnailLayout {
	border: 1px solid #a2a2a2;
}

.previewThumbnailTopLayout,.previewThumbnailBottomLayout {
	padding: 5px 10px 5px 10px;
	text-transform: uppercase;
}

.previewThumbnailText {
	font-size: 12px;
}

.previewThumbnailChartLayout {
	overflow: hidden;
}

.overwriteConfirmationDialogLabels {
	width: 140px;
	margin-top: 5px;
}

.configLink {
	margin-left: 60px;
}

.textPropertyLink {
	margin-left: 60px;
	margin-top: 3%;
}

.applicationTitleLayout  .appCountLabel {
	color: #000000;
	font-weight: bold;
}

.applicationListScroll::-webkit-scrollbar-thumb {
	background-color: rgb(102, 102, 102);
}

.applicationTitleLayout  .applicationCount {
	font-weight: bold;
}

.cursor :hover {
	cursor: pointer
}

.scrollContentLayout {
	min-width: 600px;
}

.configDetailData  .sapMScrollContScroll {
	width: 100%
}

.detailPageDataLayout {
	position: relative;
	margin-top: 1%;
}

.dialogText {
	white-space: pre-wrap;
}